@media screen and (max-width:800px) {
    body{
        grid-template-rows: 0.25fr 1.7fr 0.15fr;
    }
    main{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:600px) {
    .des-nav{
        display: flex;
        flex-direction: column;
        height: 160px; 
    }
    nav{
        width: 100%;
    }
    .nav-{
      flex-direction: column;
    }
    .nav--{
        flex-direction: column;
        justify-content: center;
    }
    a{
        flex-basis: 0px;
    }

}